html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}
  
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}

#about, #education, #contact {
    min-height: 420px;
}

#education, #contact {
    margin-top: 10%;
}

.jumbotron {
    background-color: transparent !important;
}

#card-deck1 .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

#card-deck2 .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#card-deck3 .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#gallery {
    margin-top: 0;
    margin-bottom: 200px;
}