<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS AING -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Gallery</title>
  </head>
  <body class="mt-5" id="home">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#home">Ghifari</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <!-- <a class="nav-item nav-link page-scroll" href="#home">Home <span class="sr-only">(current)</span></a> -->
            <a class="nav-item nav-link" href="/#about">Home</a>
            <a class="nav-item nav-link" href="gallery">Gallery</a>
            <a class="nav-item nav-link" href="/#contact">Contact</a>
            <a class="nav-item nav-link" href="story1" target="_blank">Story 1</a>
          </div>
        </div>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 mt-5">Gallery</h1>
        </div>
      </div>

    <section class="gallery" id="gallery">
      <div class="container">
        <section id="card-deck1">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/oidrandom.jpg' %}" alt="oidrandom">
            <div class="card-body">
              <h5 class="card-title text-center">Arga pusing</h5>
            </div>
          </div>

          <div class="card">
          <img class="card-img-top" src="{% static 'images/uwiw.jpg' %}" alt="uwiw">
            <div class="card-body">
              <h5 class="card-title text-center">Abis Padus</h5>
            </div>
          </div> 

          <div class="card">
          <img class="card-img-top" src="{% static 'images/jonmeninggal.jpg' %}" alt="oidrandom">
          <div class="card-body">
            <h5 class="card-title text-center">Adi meninggal</h5>
          </div>
        </div>

        </div>
      </section>
      <section id="card-deck2">
        <div class="card-deck mt-3">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/reguler.jpg' %}" alt="reguler">
            <div class="card-body">
              <h5 class="card-title text-center">Reguler ga bayar</h5>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{% static 'images/sobat.jpg' %}" alt="sobat">
            <div class="card-body">
              <h5 class="card-title text-center">Diterpa Angin</h5>
            </div>
          </div>

      </div>

    </section>

    <section id="card-deck3 mt-3">
      <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="{% static 'images/goldie.jpg' %}" alt="goldie">
            <div class="card-body">
              <h5 class="card-title text-center">Nyantai</h5>
            </div>
          </div>

        <div class="card">
            <img class="card-img-top" src="{% static 'images/bro.jpg' %}" alt="bro">
            <div class="card-body">
              <h5 class="card-title text-center">Bros</h5>
            </div>
          </div>

        <div class="card">
          <img class="card-img-top" src="{% static 'images/beary.jpg' %}" alt="oidrandom">
          <div class="card-body">
            <h5 class="card-title text-center">Nunggu makan</h5>
          </div>
        </div>
        
      </div>

    </section>

    </section>


    <footer class="bg-dark text-white">
        <div class="container pt-3">
            <div class="row">
                <div class="col text-center">
                    <p>Ghifari Aulia Azhar Riza &copy 2020.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>