<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS AING -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Profile</title>
  </head>
  <body class="mt-5" id="home">

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand" href="#home">Ghifari</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <!-- <a class="nav-item nav-link page-scroll" href="#home">Home <span class="sr-only">(current)</span></a> -->
            <a class="nav-item nav-link" href="#about">Home</a>
            <a class="nav-item nav-link" href="gallery">Gallery</a>
            <a class="nav-item nav-link" href="#contact">Contact</a>
            <a class="nav-item nav-link" href="story1" target="_blank">Story 1</a>
          </div>
        </div>
        </div>
      </nav>

    <section class="about pb-5" id="about">
      <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
          <img src="{% static 'images/foto.jpg' %}" width="25%" class="rounded-pill">
          <h1 class="display-4 mt-2">Ghifari Aulia Azhar Riza</h1>
          <p class="lead">Computer Science Student</p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>About</h>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <p>I am the first of 3 siblings. I was born in Jakarta on January 30, 2001. Since I was a child, my hobbies have been playing football or other sports and playing music. Besides that, I also like to play games, especially RPG or simulation games.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="education pb-5" id="education">
      <div class="container my-auto">
          <div class="row">
              <div class="col text-center">
                  <h2>Education</h2>
              </div>
          </div>
         
          <div class="row justify-content-center mt-3">
              <div class="col-sm-5 text-center">
                  <h5 class="font-weight-bold">Universitas Indonesia</h5>
              </div>
              <div class="col-sm-5 text-center">
                  <p>2019 - Now</p>
              </div>

              <div class="col-sm-5 text-center">
                <h5 class="font-weight-bold">SMA Negeri 2 Kota Tangerang Selatan</h5>
              </div>
              <div class="col-sm-5 text-center">
                <p>2016 - 2019</p>
              </div>

              <div class="col-sm-5 text-center">
                <h5 class="font-weight-bold">SMP Negeri 8 Kota Tangerang Selatan</h5>
              </div>
              <div class="col-sm-5 text-center">
                <p>2013 - 2016</p>
              </div>

              <div class="col-sm-5 text-center">
                <h5 class="font-weight-bold">SD Islam Cikal Harapan BSD</h5>
              </div>
              <div class="col-sm-5 text-center">
                <p>2007 - 2013</p>
              </div>
          </div>
      </div>
    </section>

    <!-- <section class="gallery pb-5" id="gallery">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>Gallery</h2>
          </div>
        </div>

        <section id="card-deck1">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/oidrandom.jpg' %}" alt="oidrandom">
            <div class="card-body">
              <h5 class="card-title text-center">Arga pusing</h5>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{% static 'images/uwiw.jpg' %}" alt="uwiw">
              <div class="card-body">
                <h5 class="card-title text-center">Abis OKK</h5>
              </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{% static 'images/jonmeninggal.jpg' %}" alt="oidrandom">
            <div class="card-body">
              <h5 class="card-title text-center">Adi meninggal</h5>
            </div>
          </div>

        </div>
      </section>
      <section id="card-deck2">
        <div class="card-deck mt-3">
          <div class="card">
            <img class="card-img-top" src="{% static 'images/reguler.jpg' %}" alt="reguler">
            <div class="card-body">
              <h5 class="card-title text-center">Reguler ga bayar</h5>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="{% static 'images/sobat.jpg' %}" alt="sobat">
            <div class="card-body">
              <h5 class="card-title text-center">Diterpa Angin</h5>
            </div>
          </div>
          


      </div>

    </section>

    <section id="card-deck3 mt-3">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/bro.jpg' %}" alt="bro">
          <div class="card-body">
            <h5 class="card-title text-center">Bros</h5>
          </div>
        </div>

        <div class="card">
          <img class="card-img-top" src="{% static 'images/beary.jpg' %}" alt="oidrandom">
          <div class="card-body">
            <h5 class="card-title text-center">Nunggu makan</h5>
          </div>
        </div>
        
        <div class="card">
          <img class="card-img-top" src="{% static 'images/goldie.jpg' %}" alt="goldie">
          <div class="card-body">
            <h5 class="card-title text-center">Nyantai</h5>
          </div>
        </div>

      </div>

    </section>

    </section> -->








    <section class="contact pt-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col text-center">
                    <a href="https://twitter.com/ghifariauliaa" target="_blank"><img src="{% static 'images/twitter-logo.png' %}" width="40" height="40"></a>
                </div>

                <div class="col text-center">
                    <a href="https://instagram.com/ghifari30" target="_blank"><img src="{% static 'images/instagram-logo.png' %}" width="55" height="40"></a>
                </div>

                <div class="col text-center">
                    <a href="https://steamcommunity.com/id/ghifariaulia" target="_blank"><img src="{% static 'images/steam.png' %}" width="40" height="40"></a>
                </div>

                <div class="col text-center">
                    <a href="https://www.linkedin.com/in/ghifari-aulia-azhar-r-3a2180140/" target="_blank"><img src="{% static 'images/linkedin-logo.png' %}" width="40" height="40"></a>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white">
        <div class="container pt-3">
            <div class="row">
                <div class="col text-center">
                    <p>Ghifari Aulia Azhar Riza &copy 2020.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>